@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    :root {
      --primary: #1292BE;
      --secondary:#8ebb28;
      --waring:#ff9d00;
      --danger:#e25a5a;
      /* ... */
    }
  }