@font-face {
    font-family: 'NotoSans';
    src: url('./Noto-Sans-regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "roboto-regular";
    src: url('./roboto-regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }